<a href="https://colab.research.google.com/github/arnav4567/snt_mpt/blob/master/snt_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import io
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
#read the nifty50 csv file into a dataframe df
df = pd.read_csv(r'C:\Users\arnav\Documents\GitHub\snt_mpt\nifty50.csv')

In [11]:
#print df
df

,Date,ADANIPORTS.NS,TECHM.NS,BRITANNIA.NS,TCS.NS,SUNPHARMA.NS,INFY.NS,HINDALCO.NS,DRREDDY.NS,HCLTECH.NS,...,RELIANCE.NS,SBILIFE.NS,HDFCLIFE.NS,BAJFINANCE.NS,AXISBANK.NS,HDFCBANK.NS,TATAMOTORS.NS,ICICIBANK.NS,POWERGRID.NS,INDUSINDBK.NS
0,01-01-2016,267.549988,520.049988,1493.199951,1208.199951,815.549988,552.625000,84.900002,3108.600098,422.924988,...,507.674988,NaN,NaN,609.585022,449.899994,544.375000,401.899994,239.091003,141.000000,963.849976
1,04-01-2016,257.950012,516.400024,1486.300049,1184.800049,799.099976,539.450012,80.750000,3056.000000,422.975006,...,497.649994,NaN,NaN,605.244995,438.399994,535.250000,377.049988,232.317993,140.949997,934.200012
2,05-01-2016,255.699997,521.900024,1483.349976,1174.469971,800.500000,537.025024,82.599998,3070.649902,421.399994,...,502.575012,NaN,NaN,599.784973,436.450012,531.200012,374.450012,233.363998,139.149994,935.250000
3,06-01-2016,251.800003,525.099976,1500.849976,1190.800049,791.950012,534.674988,80.550003,3046.250000,420.700012,...,516.099976,NaN,NaN,610.724976,430.700012,533.549988,365.899994,227.363998,139.500000,943.950012
4,07-01-2016,245.000000,510.799988,1473.280029,1185.619995,783.799988,525.400024,76.650002,2991.800049,412.524994,...,506.625000,NaN,NaN,610.630005,409.250000,528.099976,343.549988,224.317993,138.100006,925.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#drop stock columns of "SBILIFE.NS" & "HDFCLIFE.NS"
df = df.drop(["SBILIFE.NS","HDFCLIFE.NS"],axis=1)

#drop null values if any exist 
df.dropna(inplace =True)

#print df 
df

,Date,ADANIPORTS.NS,TECHM.NS,BRITANNIA.NS,TCS.NS,SUNPHARMA.NS,INFY.NS,HINDALCO.NS,DRREDDY.NS,HCLTECH.NS,...,ONGC.NS,SBIN.NS,RELIANCE.NS,BAJFINANCE.NS,AXISBANK.NS,HDFCBANK.NS,TATAMOTORS.NS,ICICIBANK.NS,POWERGRID.NS,INDUSINDBK.NS
0,01-01-2016,267.549988,520.049988,1493.199951,1208.199951,815.549988,552.625000,84.900002,3108.600098,422.924988,...,161.667007,227.800003,507.674988,609.585022,449.899994,544.375000,401.899994,239.091003,141.000000,963.849976
1,04-01-2016,257.950012,516.400024,1486.300049,1184.800049,799.099976,539.450012,80.750000,3056.000000,422.975006,...,158.699997,220.699997,497.649994,605.244995,438.399994,535.250000,377.049988,232.317993,140.949997,934.200012
2,05-01-2016,255.699997,521.900024,1483.349976,1174.469971,800.500000,537.025024,82.599998,3070.649902,421.399994,...,161.233002,217.750000,502.575012,599.784973,436.450012,531.200012,374.450012,233.363998,139.149994,935.250000
3,06-01-2016,251.800003,525.099976,1500.849976,1190.800049,791.950012,534.674988,80.550003,3046.250000,420.700012,...,158.367004,216.850006,516.099976,610.724976,430.700012,533.549988,365.899994,227.363998,139.500000,943.950012
4,07-01-2016,245.000000,510.799988,1473.280029,1185.619995,783.799988,525.400024,76.650002,2991.800049,412.524994,...,151.067001,209.550003,506.625000,610.630005,409.250000,528.099976,343.549988,224.317993,138.100006,925.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,24-12-2020,478.549988,947.250000,3618.250000,2909.350098,590.450012,1236.050049,236.949997,5201.799805,919.349976,...,93.150002,266.850006,1994.150024,5184.899902,610.200012,1397.099976,175.949997,513.549988,190.000000,852.799988
1228,28-12-2020,483.549988,947.099976,3603.550049,2929.399902,586.950012,1240.300049,239.899994,5201.799805,921.799988,...,93.800003,275.200012,2003.300049,5204.100098,617.650024,1412.849976,186.350006,520.099976,191.550003,866.950012
1229,29-12-2020,483.399994,965.650024,3593.300049,2930.500000,590.599976,1250.300049,235.600006,5165.600098,935.900024,...,93.150002,277.899994,1990.050049,5200.500000,630.200012,1427.199951,183.449997,528.799988,189.699997,912.900024
1230,30-12-2020,485.399994,983.250000,3583.899902,2909.300049,584.000000,1246.800049,237.399994,5170.950195,940.700012,...,93.250000,276.899994,1995.500000,5334.149902,625.099976,1432.500000,184.149994,528.750000,190.199997,899.049988
1231,31-12-2020,483.750000,973.200012,3576.350098,2862.750000,592.349976,1255.800049,240.550003,5205.100098,946.150024,...,93.050003,274.950012,1985.300049,5295.200195,620.450012,1436.300049,183.850006,535.049988,189.850006,894.950012

In [13]:
#reset index to date using set_index function 
df = df.set_index("Date")

#print df
df1 = df.copy()
df

,ADANIPORTS.NS,TECHM.NS,BRITANNIA.NS,TCS.NS,SUNPHARMA.NS,INFY.NS,HINDALCO.NS,DRREDDY.NS,HCLTECH.NS,HINDUNILVR.NS,...,ONGC.NS,SBIN.NS,RELIANCE.NS,BAJFINANCE.NS,AXISBANK.NS,HDFCBANK.NS,TATAMOTORS.NS,ICICIBANK.NS,POWERGRID.NS,INDUSINDBK.NS
Date,,,,,,,,,,,,,,,,,,,,,
01-01-2016,267.549988,520.049988,1493.199951,1208.199951,815.549988,552.625000,84.900002,3108.600098,422.924988,856.549988,...,161.667007,227.800003,507.674988,609.585022,449.899994,544.375000,401.899994,239.091003,141.000000,963.849976
04-01-2016,257.950012,516.400024,1486.300049,1184.800049,799.099976,539.450012,80.750000,3056.000000,422.975006,859.000000,...,158.699997,220.699997,497.649994,605.244995,438.399994,535.250000,377.049988,232.317993,140.949997,934.200012
05-01-2016,255.699997,521.900024,1483.349976,1174.469971,800.500000,537.025024,82.599998,3070.649902,421.399994,847.950012,...,161.233002,217.750000,502.575012,599.784973,436.450012,531.200012,374.450012,233.363998,139.149994,935.250000
06-01-2016,251.800003,525.099976,1500.849976,1190.800049,791.950012,534.674988,80.550003,3046.250000,420.700012,843.049988,...,158.367004,216.850006,516.099976,610.724976,430.700012,533.549988,365.899994,227.363998,139.500000,943.950012
07-01-2016,245.000000,510.799988,1473.280029,1185.619995,783.799988,525.400024,76.650002,2991.800049,412.524994,820.250000,...,151.067001,209.550003,506.625000,610.630005,409.250000,528.099976,343.549988,224.317993,138.100006,925.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24-12-2020,478.549988,947.250000,3618.250000,2909.350098,590.450012,1236.050049,236.949997,5201.799805,919.349976,2402.250000,...,93.150002,266.850006,1994.150024,5184.899902,610.200012,1397.099976,175.949997,513.549988,190.000000,852.799988
28-12-2020,483.549988,947.099976,3603.550049,2929.399902,586.950012,1240.300049,239.899994,5201.799805,921.799988,2388.899902,...,93.800003,275.200012,2003.300049,5204.100098,617.650024,1412.849976,186.350006,520.099976,191.550003,866.950012
29-12-2020,483.399994,965.650024,3593.300049,2930.500000,590.599976,1250.300049,235.600006,5165.600098,935.900024,2384.300049,...,93.150002,277.899994,1990.050049,5200.500000,630.200012,1427.199951,183.449997,528.799988,189.699997,912.900024
30-12-2020,485.399994,983.250000,3583.899902,2909.300049,584.000000,1246.800049,237.399994,5170.950195,940.700012,2406.600098,...,93.250000,276.899994,1995.500000,5334.149902,625.099976,1432.500000,184.149994,528.750000,190.199997,899.049988
31-12-2020,483.750000,973.200012,3576.350098,2862.750000,592.349976,1255.800049,240.550003,5205.100098,946.150024,2395.399902,...,93.050003,274.950012,1985.300049,5295.200195,620.450012,1436.300049,183.850006,535.049988,189.850006,894.950012

In [14]:
name = list(df)
name

['ADANIPORTS.NS',
 'TECHM.NS',
 'BRITANNIA.NS',
 'TCS.NS',
 'SUNPHARMA.NS',
 'INFY.NS',
 'HINDALCO.NS',
 'DRREDDY.NS',
 'HCLTECH.NS',
 'HINDUNILVR.NS',
 'TATASTEEL.NS',
 'NTPC.NS',
 'CIPLA.NS',
 'ITC.NS',
 'BPCL.NS',
 'WIPRO.NS',
 'JSWSTEEL.NS',
 'GAIL.NS',
 'DIVISLAB.NS',
 'ULTRACEMCO.NS',
 'NESTLEIND.NS',
 'ASIANPAINT.NS',
 'EICHERMOT.NS',
 'IOC.NS',
 'GRASIM.NS',
 'BAJAJ-AUTO.NS',
 'HDFC.NS',
 'M&M.NS',
 'UPL.NS',
 'SHREECEM.NS',
 'MARUTI.NS',
 'TITAN.NS',
 'BAJAJFINSV.NS',
 'KOTAKBANK.NS',
 'COALINDIA.NS',
 'BHARTIARTL.NS',
 'HEROMOTOCO.NS',
 'LT.NS',
 'ONGC.NS',
 'SBIN.NS',
 'RELIANCE.NS',
 'BAJFINANCE.NS',
 'AXISBANK.NS',
 'HDFCBANK.NS',
 'TATAMOTORS.NS',
 'ICICIBANK.NS',
 'POWERGRID.NS',
 'INDUSINDBK.NS']

In [15]:
def CAGR(df,name):
    
    #USING df[name] and iloc function, identify the initial price of stock 
    start_value = df[name].iloc[0]
    
    #Like we did for Start Value, USING df[name] and iloc function, identify the final price of stock 
    end_value = df[name].iloc[-1]
    
    #Specify the Number of years we are taking into account 
    n = 5
    
    #WRITE THE CAGR FUNCTION USING START VALUE, END VALUE AND NUMBER OF PERIODS
    cagr = (end_value/start_value)**(1/n) -1 
    
    return cagr

In [16]:
def volatility(df,name):
    df[name] = df[name].pct_change()
    vol = df[name].std(ddof=0) * np.sqrt(252)
    return vol

In [17]:
def sharpe(x,y,rf):
    
    #Write down the Sharpe Ratio formula using CAGR, Volatility and Risk-Free rate
    sr = (x - 0.06)/y
    
    return sr

In [18]:
cagr = []
vol = []
sr = []
rf = 0.06
for i in range(len(name)):
    x = CAGR(df, name[i])
    y = volatility(df, name[i])
    z = sharpe(x,y,rf)
    cagr.append(x)
    vol.append(y)
    sr.append(z)

#PRINT CAGR, VOL, SR LIST
print(sr)

[0.18068245477048975, 0.2377264058051561, 0.4918751866486565, 0.4946191914163389, -0.36961621138164863, 0.41570605505803615, 0.41046467489148025, 0.16636760759121033, 0.4143447514130646, 0.7160329573311025, 0.3992257748630759, -0.3718628060994289, -0.05004698085182652, -0.24948713378300802, -0.02592969421681889, 0.27573429619633294, 0.6740290736724796, -0.07533354796957267, 0.5875533268898606, 0.2548808424823195, 0.7959769550066873, 0.7706575605456925, 0.05275515837725695, -0.2844876958908887, 0.11137706066041979, 0.017753058462484417, 0.30947275175411393, -0.1048478863476168, 0.09974581738352331, 0.33368316667886433, 0.14378562456984886, 0.8446366391063602, 0.7895699676143428, 0.576454875762035, -0.7667258140856203, 0.12349731204063495, -0.09885186515906187, 0.08372993852569967, -0.467959503184564, -0.056444278375967494, 0.8234749651084393, 1.1499479856380705, 0.01663937473646883, 0.6516208486873812, -0.4252812316868387, 0.31204936060462796, 0.005358393500279929, -0.15840154869587744]

#### IDENTIFY THE TOP 15 STOCKS LOOKING AT THE SHARPE RATIO LIST AND MAKE A LIST OF THE STOCK NAMES

In [19]:
df0 = pd.DataFrame()
df0["Name"] = name
df0["Sharpe Ratio"] = sr 
#Top_15 = sr.sort_values(ascending = False).head(15)

In [20]:
df0.sort_values(by = "Sharpe Ratio", ascending = False, inplace = True)

In [21]:
top_15 = df0.head(15)
top_15

             Name  Sharpe Ratio
41  BAJFINANCE.NS      1.149948
31       TITAN.NS      0.844637
40    RELIANCE.NS      0.823475
20   NESTLEIND.NS      0.795977
32  BAJAJFINSV.NS      0.789570
21  ASIANPAINT.NS      0.770658
9   HINDUNILVR.NS      0.716033
16    JSWSTEEL.NS      0.674029
43    HDFCBANK.NS      0.651621
18    DIVISLAB.NS      0.587553
33   KOTAKBANK.NS      0.576455
3          TCS.NS      0.494619
2    BRITANNIA.NS      0.491875
5         INFY.NS      0.415706
8      HCLTECH.NS      0.414345

In [22]:
newlist = top_15["Name"].tolist()
newlist

['BAJFINANCE.NS',
 'TITAN.NS',
 'RELIANCE.NS',
 'NESTLEIND.NS',
 'BAJAJFINSV.NS',
 'ASIANPAINT.NS',
 'HINDUNILVR.NS',
 'JSWSTEEL.NS',
 'HDFCBANK.NS',
 'DIVISLAB.NS',
 'KOTAKBANK.NS',
 'TCS.NS',
 'BRITANNIA.NS',
 'INFY.NS',
 'HCLTECH.NS']

In [23]:
df2 = pd.DataFrame()
for i in range(len(newlist)):
    df2[newlist[i]] = df1[newlist[i]]
    
df2

,BAJFINANCE.NS,TITAN.NS,RELIANCE.NS,NESTLEIND.NS,BAJAJFINSV.NS,ASIANPAINT.NS,HINDUNILVR.NS,JSWSTEEL.NS,HDFCBANK.NS,DIVISLAB.NS,KOTAKBANK.NS,TCS.NS,BRITANNIA.NS,INFY.NS,HCLTECH.NS
Date,,,,,,,,,,,,,,,
01-01-2016,609.585022,352.049988,507.674988,5785.149902,1983.800049,878.750000,856.549988,102.699997,544.375000,1162.500000,727.250000,1208.199951,1493.199951,552.625000,422.924988
04-01-2016,605.244995,351.399994,497.649994,5669.799805,1959.500000,880.799988,859.000000,104.470001,535.250000,1149.699951,705.299988,1184.800049,1486.300049,539.450012,422.975006
05-01-2016,599.784973,347.700012,502.575012,5662.399902,1946.000000,900.650024,847.950012,108.309998,531.200012,1147.500000,707.750000,1174.469971,1483.349976,537.025024,421.399994
06-01-2016,610.724976,347.850006,516.099976,5719.500000,1938.550049,886.400024,843.049988,105.820000,533.549988,1137.199951,703.599976,1190.800049,1500.849976,534.674988,420.700012
07-01-2016,610.630005,344.049988,506.625000,5638.950195,1927.050049,872.349976,820.250000,102.635002,528.099976,1126.949951,691.650024,1185.619995,1473.280029,525.400024,412.524994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24-12-2020,5184.899902,1495.900024,1994.150024,18566.300780,8992.549805,2648.250000,2402.250000,366.250000,1397.099976,3749.600098,1960.599976,2909.350098,3618.250000,1236.050049,919.349976
28-12-2020,5204.100098,1543.550049,2003.300049,18597.300780,8995.049805,2683.899902,2388.899902,386.600006,1412.849976,3766.000000,1988.900024,2929.399902,3603.550049,1240.300049,921.799988
29-12-2020,5200.500000,1540.099976,1990.050049,18262.699220,8976.049805,2696.800049,2384.300049,381.799988,1427.199951,3784.199951,1999.300049,2930.500000,3593.300049,1250.300049,935.900024
30-12-2020,5334.149902,1552.599976,1995.500000,18379.199220,8961.700195,2734.399902,2406.600098,386.100006,1432.500000,3799.699951,2017.949951,2909.300049,3583.899902,1246.800049,940.700012
31-12-2020,5295.200195,1567.150024,1985.300049,18390.199220,8906.349609,2764.500000,2395.399902,387.200012,1436.300049,3841.899902,1995.599976,2862.750000,3576.350098,1255.800049,946.150024

In [24]:
# print(df2['ASIANPAINT.NS'][0])
# print(np.log(df2['ASIANPAINT.NS'][1]/df2['ASIANPAINT.NS'][0]))

In [25]:
#CALCULATE LOG RETURNS OF the 15 STOCKS & STORE THEM IN df3 (Similar format as df2) 
def logreturns(df,name):
    res = []
    for i in range(1231):
        res.append(np.log(df2[name][i+1]/df2[name][i]))
    return res

df3 = pd.DataFrame()

for i in newlist:
    temp = logreturns(df2,i)
    df3[i] = logreturns(df2,i)
    
df3

,BAJFINANCE.NS,TITAN.NS,RELIANCE.NS,NESTLEIND.NS,BAJAJFINSV.NS,ASIANPAINT.NS,HINDUNILVR.NS,JSWSTEEL.NS,HDFCBANK.NS,DIVISLAB.NS,KOTAKBANK.NS,TCS.NS,BRITANNIA.NS,INFY.NS,HCLTECH.NS
0,-0.007145,-0.001848,-0.019944,-0.020140,-0.012325,0.002330,0.002856,0.017088,-0.016904,-0.011072,-0.030647,-0.019558,-0.004632,-0.024130,0.000118
1,-0.009062,-0.010585,0.009848,-0.001306,-0.006913,0.022286,-0.012947,0.036098,-0.007595,-0.001915,0.003468,-0.008757,-0.001987,-0.004505,-0.003731
2,0.018076,0.000431,0.026556,0.010034,-0.003836,-0.015948,-0.005795,-0.023258,0.004414,-0.009017,-0.005881,0.013808,0.011729,-0.004386,-0.001662
3,-0.000156,-0.010984,-0.018529,-0.014183,-0.005950,-0.015978,-0.027417,-0.030561,-0.010267,-0.009054,-0.017130,-0.004360,-0.018540,-0.017499,-0.019623
4,0.033528,0.011416,0.012261,-0.001136,0.037357,0.002576,-0.012760,0.014317,0.005806,0.002437,0.004976,0.011055,-0.015135,0.011826,0.003992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226,0.018689,0.003382,0.025547,-0.008922,-0.002299,0.002155,0.013368,-0.001637,0.015472,0.016402,0.020535,0.000206,-0.001960,-0.013660,-0.003529
1227,0.003696,0.031357,0.004578,0.001668,0.000278,0.013372,-0.005573,0.054074,0.011210,0.004364,0.014331,0.006868,-0.004071,0.003432,0.002661
1228,-0.000692,-0.002238,-0.006636,-0.018156,-0.002115,0.004795,-0.001927,-0.012494,0.010106,0.004821,0.005215,0.000375,-0.002848,0.008030,0.015180
1229,0.025375,0.008084,0.002735,0.006359,-0.001600,0.013846,0.009309,0.011200,0.003707,0.004088,0.009285,-0.007261,-0.002619,-0.002803,0.005116
1230,-0.007329,0.009328,-0.005125,0.000598,-0.006196,0.010948,-0.004665,0.002845,0.002649,0.011045,-0.011137,-0.016130,-0.002109,0.007193,0.005777

In [ ]:
#CELL WILL TAKE 10-15 MINS TO RUN
np.random.seed(42)

#no. of set of weights to be initialised
num_ports = 6000*100
all_weights = np.zeros((num_ports, df3.shape[1]))
ret_arr = np.zeros(num_ports)
vol_arr = np.zeros(num_ports)
sharpe_arr = np.zeros(num_ports)

for x in range(num_ports):
    if x%6000 == 0:
        print(x)
    # Weights

    wts = np.random.random_sample((df3.shape[1],))
    wts/=wts.sum()
    
    # Save weights

    all_weights[x] = wts

    # Expected return

    ret_arr[x] = np.sum((df3.mean()*wts*252))

    # Expected volatility

    vol_arr[x] = np.sqrt(np.dot(np.dot(df3.cov()*252, wts) , wts.T))

    # Sharpe Ratio

    sharpe_arr[x] = ret_arr[x]/vol_arr[x]
print(all_weights)

0
6000
12000
18000
24000
30000
36000
42000
48000
54000
60000
66000
72000
78000
84000
90000
96000
102000
108000
114000

In [ ]:
#OUTPUT MAXIMUM SHARPE RATIO FROM THE RANDOM WEIGHTS & THE WEIGHTS CORRESPONDING TO IT USING MAX & ARGMAX

print("Max Sharpe Ratio : ",np.max(sharpe_arr))

p = sharpe_arr.argmax()

good_weights = all_weights[p]

for i in range(df3.shape[1]):
    print(good_weights[i], " ", newlist[i]);

In [ ]:
#POINT p is the point of maximum sharpe ratio
mr = ret_arr[p]
mv = vol_arr[p]

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(12,8))
plt.scatter(vol_arr, ret_arr, c=sharpe_arr, cmap='viridis')
plt.colorbar(label='Sharpe Ratio')
plt.xlabel('Volatility')
plt.ylabel('Return')
plt.scatter(mv, mr,c='red', s=50) # red dot

plt.show()

In [ ]:
fy = np.linspace(0.2,0.35,50)

In [ ]:
def get_ret_vol_sr(weights):
    weights = np.array(weights)
    ret = np.sum(df3.mean() * weights) * 252
    vol = np.sqrt(np.dot(weights.T, np.dot(df3.cov()*252, weights)))
    sr = ret/vol
    return np.array([ret, vol, sr])

def min_vol(weights):
    return get_ret_vol_sr(weights)[1]

def check_sum(weights):
    #return 0 if sum of the weights is 1
    return np.sum(weights)-1

In [ ]:
a = 1/15
c = ((0,1),)
b = []
d = ()
for i in range(15):
    b.append(a)
    d = d+c

In [ ]:
from scipy.optimize import minimize
fx = []

for i in fy:
    print(i)
    cons = ({'type':'eq', 'fun':check_sum},
            {'type':'eq', 'fun': lambda w: get_ret_vol_sr(w)[0] - i})
    
    result = minimize(min_vol, b, method='SLSQP', bounds=d, constraints=cons)
    fx.append(result['fun'])

In [ ]:
plt.figure(figsize=(15,8))
plt.scatter(vol_arr, ret_arr, c=sharpe_arr, cmap='viridis')
plt.colorbar(label='Sharpe Ratio')
plt.xlabel('Volatility')
plt.ylabel('Return')
plt.plot(fx,fy, 'r--', linewidth=3)
plt.show()

In [ ]:
#OUTPUT THE MONEY INVESTED IN ALL THE 15 STOCKS AS GIVEN BELOW, store the result in an array "mon", taking the pth value of all_weights array
mon = [10000000*i for i in good_weights]
print(mon)

In [ ]:
#Store the number of stocks that you'll hold for the 15 stocks (in num_sto) basis the prices on the last day
num_sto = []
for i in range(len(mon)):
    num_sto.append(mon[i]/df2[newlist[i]][-1])

In [ ]:
num_sto

In [ ]:
newlist

In [ ]:
#Output the number of shares you'll hold of each of the top 15 stocks in the dataframe DF
resdf = pd.DataFrame()
resdf['Name'] = newlist
resdf['No. of shares'] = num_sto
resdf